<p align="center">
  <a href="https://epsagon.com" target="_blank" align="center">
    <img src="https://cdn2.hubspot.net/hubfs/4636301/Positive%20RGB_Logo%20Horizontal%20-01.svg" width="300">
  </a>
  <br />
</p>

# Epsagon Agent

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

## How to use Epsagon Helm repository
You need to add this repository to your Helm repositories:

```bash
helm repo add epsagon https://helm.epsagon.com
helm repo update
```

## Prerequisites

Kubernetes 1.4+ or OpenShift 3.4+

{{ template "chart.requirementsSection" . }}

### Installing the Cluster Agent Chart
To install the chart with the release name <RELEASE_NAME>:
1. Retrieve your Epsagon Token from your Agent Installation Instructions
2. Choose a name for your cluster. The chosen cluster name will be available in Epsagon dashboard.
<br>
Then, run:


```bash
helm install <RELEASE_NAME> \
  --set epsagonToken=<EPSAGON_TOKEN> --set clusterName=<CLUSTER_NAME> epsagon/cluster-agent
```
### Uninstalling the Chart

To uninstall/delete the `<RELEASE_NAME>` deployment:

```bash
helm delete <RELEASE_NAME> --purge
```

The command removes all the Kubernetes components associated with the chart and deletes the release.

## All configuration options

The following table lists the configurable parameters of the chart. Specify each parameter using the `--set key=value[,key=value]` argument to `helm install`.

{{ template "chart.valuesSection" . }}